body {
    min-height: 100vh;
    margin: 0;
    background-color: #012;
    color: white;
    margin-bottom: 100px;
    background-image:
        radial-gradient(
            circle at 90% 10%,
            #123,
            transparent 50%
        ),
        linear-gradient(
            to bottom,
            #001 65%,
            #000 80%
        );
}

img{
    object-fit: cover;
}

#main-box{
    margin: 0 auto;
    max-width: 1000px;
    padding-inline: 10%;
}

/*------- SECTION: PRESENTATION -------*/
#presentation{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
}

#user-name{
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}
#user-profession{
    color: #aef;
    text-align: center;
    border-bottom: none;

}
#user-photo{
    min-width: 100px;
    max-width: 250px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

/*------- SECTION: ABOUT -------*/

#user-about{
    margin-bottom: 20px;
}

/*------- SECTION: TECHNOLOGIES -------*/

#tech-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}   

.tech-item{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 2px;
    gap: 5px;
}

.tech-img{
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}
.tech-name{
    text-align: center;
}

/*------- SECTION: PROJECTS -------*/
#project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item{
    width: 300px;
    background-color: #012;
    justify-content: center;
    border-radius: 5%;
    padding: 15px;
}
.project-img{
    width: 100%;
    aspect-ratio: 16/9;
}

/*------ SECTION: CONTACT ------*/

.contact-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-icon{
    width: 25px;
    height: 25px;
}

/*------- Common Styles -------*/

h1, h3, p{
    margin: 0;
}
h2{
    border-bottom: 2px solid #234;
}

.tech-item:hover, .project-item:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}